<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>items</key>
        <array>
                <dict>
                        <key>assets</key>
                        <array>
                                <dict>
                                        <key>kind</key>
                                        <string>software-package</string>
                                        <key>url</key>
                                        <string>http://pub.blingstorm.com.cn:98/clash/clash-hero-for-release.ipa</string>
                                </dict>
                        </array>
                        <key>metadata</key>
                        <dict>
                                <key>clash-identifier</key>
                                <string>com.blingstorm.clash</string>
                                <key>kind</key>
                                <string>software</string>
                                <key>title</key>
                                <string>Clash Hero 正式版</string>
                        </dict>
                </dict>
        </array>
</dict>
</plist>
